<h1>Bienvenido a <%= title %></h1>
<p>Work in progress by <%= nombre %></p>
<p>
<img src=<%= foto %> alt="Anonymous" height="42" width="42">
</p>
<p>
<video width="160" height="120" autoplay>
  <source src=<%= video %> type="video/mp4">
Your browser does not support the video tag.
</video>
</p>
