<!DOCTYPE html>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <p>el juego de las preguntas</p>
    <br />
      Respuesta: <%= respuesta %> <br />
      <a href="/quizes/question">Vuelve a intentalo</a>
  </body>
</html>
